// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-body {
  margin-left: 15px;
  font-weight: 100;
}

.comment-form-container {
  display: flex;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-top: 1px solid #efefef;
  color: #999;
  flex-shrink: 0;
  font-size: 14px;
  align-items: stretch;
  line-height: 18px;
  justify-content: center;
  position: relative;
}

.comment-form {
  display: flex;
  padding-left: 15px;
  flex-grow: 1;
  max-height: 80px;
  width: 100%;
  align-items: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.comment-form form {
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.comment-form-container textarea {
  height: 17px;
  border: 0;
  color: #262626;
  font-size: inherit;
  outline: 0;
  padding: 0;
  resize: none;
  width: 100%;
  max-height: 80px;
}

.comment-form-container button {
  font-size: 13px;
  border: 0;
  color: #3897f0;
  display: inline;
  padding: 0;
  cursor: pointer;
}

.post-comment {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-size: 15px;
  margin-top: 10px;
  // font-family: sans-serif;
}

.post-comment div {
  display: flex;
}

.post-comment-text {
  flex-direction: column;
}

.post-comment-text div {
  margin-bottom: 2px;
  padding: 0;
}

.comment-body-container {
  flex-direction: row;
}

.post-like-count {
  font-size: 14px;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 4px;
  padding-left: 16px;
  display: flex;
}

.comment-username a {
  text-decoration: none;
  color: black;
  // font-family: ;
  font-weight: 550;
}

.comment-username a:visited {
  text-decoration: none;
  color: black;
}