// Place all the styles related to the api::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-container {
  margin-top: 100px;
  flex-direction: column;
  padding-top: 0;
  width: 30%
}

.post-item-container {
  margin-bottom: 60px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-left: -1px;
  margin-right: -1px;
  padding: 0;
  // height: 600px;
}

.post-header {
  display: flex;
  height: 60px;
  padding: 0;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #e6e6e6;
}

.post-author-profile {
  margin-left: 25px;
}

.post-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-author-name {
  margin-left: 20px;
  font-size: 20px;
  // font-family: sans-serif;
}

.post-main img {
  width: 100%
}

.fa-heart {
  padding-left: 16px;
  display: flex;
  font-size: 35px;
  color: red;
  cursor: pointer;
}

.username {
  font-weight: 540;
}

.caption {
  font-weight: 100;
  margin-left: 20px;
}

.post-caption {
  margin-bottom: 5px;
}

