// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: Billabong; 
  src: asset-url('billabong.ttf');
}

.splash {
  // flex: auto;
}

.login-form-container {
  margin-top: inherit;
}

.form-container {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex: auto;
  margin: 12px 0 12px;
  padding: 0;
  border: 1px solid lightgrey;
  max-width: 300px;
  background-color: white;
  max-height: 500px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container ul {
  margin: auto;
  list-style-type: none;
  color:#ff8080;
  display: table;
  padding: 20px 20px;
  font-size: 12px;
}

.instagg-intro {
  text-align: center;
  color: #999;
  margin: 0 40px 10px;
  line-height: 20px;
  font-weight: 600;
}

.login-form-container input {
  box-sizing: border-box;
  width: 258px;
  height: 36px;
  padding: 9px 0 7px 8px;
  outline: 0;
  cursor: text;
  margin: 0 40px 6px;
}

.login-form-container input[type=submit] {
  cursor: pointer;
  border-radius: 4px;
  background-color: #3897f0;
  text-align: center;
  font-size: 20px;
  color: white;
}

// .login-form-container a {
 
// }

.login-form-title {
  font-family: billabong;
  font-size: 50px;
  height: 51px;
}

.demo-btn {
  cursor: pointer;
  border-radius: 4px;
  background-color: #3897f0;
  color: white;
  width: 258px;
  height: 36px;
  font-size: 17px;
}

.demo-btn:hover {
  background: white;
  color: #3897f0;
}

.form-footer-link {
  border: 1px solid lightgrey;
  font-size: 17px;
  font-family: sans-serif;
}

.form-footer-link a {
  text-decoration: none;
  font-weight: 600;
}