.heart {
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);

  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}
