.navbar {
  display: flex;
  width: 100%;
  padding: 40px;
  font-size: 30px;
  background-color:#FAFAFA;
  border-bottom: 3px solid grey;
}

.logo {
  margin: auto auto auto 200px;
}

.logo a {
  text-decoration: none;
}

.upload {
  margin: auto;
}

.search {
  margin: auto 100px auto 100px;
}

.search input {
  width: 300px;
}

.profile {
  margin: auto 300px auto 100px;
}