* {
  box-sizing: border-box
}

.profile-container {
  box-sizing: content-box;
  padding: 60px 20px 0;
  flex-grow: 1;
  margin: 50px auto 30px;
}

.header {
  margin-bottom: 44px;
  padding-bottom: 44px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6
}

.header-container {
  display: flex;
  flex-direction: row;
}

.profile-img {
  margin-right: 70px;
}

.profile-img img {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.profile-info {
  text-align: justify;
}

.profile-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.profile-edit h1 {
  font-size: 28px;
  line-height: 32px;
  font-family: sans-serif;
  font-weight: 300;
}

.profile-edit a {
  text-decoration: none;
  margin-left: 20px;
  border: 1px solid #e6e6e6;
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px;
  border-radius: 20%;
}

.profile-edit a:visited {
  text-decoration: none;
  color: black;
}

.profile-edit a:hover {
  text-decoration: none;
}

.profile-follows span {
  margin-right: 30px;
  font-family: sans-serif;
}

.bio {
  margin-top: 30px;
  font-family: sans-serif;
}

.user-posts-container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.user-posts {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.post-img {
  position: relative;
  flex: auto auto auto;
}

.post-img img {
  display: block;
  width: 400px;
  height: 400px;
  object-fit: cover;
}