* {
  box-sizing: border-box
}

.profile-container {
  box-sizing: content-box;
  padding: 60px 20px 0;
  flex-grow: 1;
  margin: 50px auto 30px;
}

.header {
  margin-bottom: 44px;
  padding-bottom: 44px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
}

.profile-img {
  margin-right: 70px;
}

.profile-img img {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.profile-info {
  text-align: justify;
}

.profile-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.profile-edit h1 {
  font-size: 28px;
  line-height: 32px;
  // font-family: sans-serif;
  font-weight: 300;
}

.profile-edit a {
  text-decoration: none;
  margin-left: 20px;
  border: 1px solid #e6e6e6;
  // font-family: sans-serif;
  font-size: 12px;
  padding: 5px;
  border-radius: 20%;
  width: 90px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 50px;
  text-align: center;
}

.profile-edit a:visited {
  text-decoration: none;
  color: black;
}

.profile-edit a:hover {
  text-decoration: none;
}

.profile-follows span {
  margin-right: 30px;
  // font-family: sans-serif;
}

.bio {
  margin-top: 30px;
  // font-family: sans-serif;
  word-break: break-all;
}

// container
.user-posts-container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

// gallery
.user-posts {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.post-img {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
  justify-content: center;
}

.post-img img {
  display: block;
  // width: 400px;
  // height: 400px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // object-position: 100% 0;
}

.post-img:hover .item-info,
.post-img:focus .item-info {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
}

.item-info {
  display: none;
}

.item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.item-likes {
  margin-right: 2.2rem;
}

.item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}

.following {
  width: 90px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 50px;
}

.unfollow {
  background: #3897f0;
  width: 90px;
  height: 30px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 50px;
}
  
.unfollow,
.following:focus {
  outline: none;
}

.logout-btn i {
  font-size: x-large;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

