// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #FAFAFA
}

.app-div {
  margin-top: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
}